*{
    width: 0 auto;
    height: 0 auto;
    box-sizing: border-box;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    height: 833px;
    background-color: darkslateblue;
    border-radius: 25px;
}

.container1{
    width: 1160px;
    padding: 50px; 
    height: 48px;
    display: flex;
    justify-content: center;
    gap: 74px; 
}

.box{
    border-radius: 25px;
    background-color: red;
    color: white;
    width: 200px;
    height: 40px;
    display: flex;
    padding: 9px;
    justify-content: center;
}

.container2{
    padding: 50px 0 0 0;
    display: flex;
    justify-content: space-around;
    gap: 80px
}

.art{
   width: 400px;
   height: 200px;
}

.h1{
    color: white;
    display: flex;
    padding: 18px;
    justify-content: center;
}

.container3{
    padding: 50px 0 0 0;
    display: flex;
    justify-content: center;
}

.box2{

    width: 264px;
    height: 118px;
    border-radius: 25px;
    background-color: black;
    justify-content: center;
}

.container4{
    padding: 50px 0 0 0;
    gap: 215px;
    display: flex;
    justify-content: center;
}

.container_mini{
    width: 400px;
    height: 200px;
    border-radius: 50px;
    background-color: red;
    display: flex;
    padding: 50px;
    justify-content: center;
}

.box3{
    width: 300px;
    height: 109px;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
}

.box_mini{
    width: 260px;
    height: 60px;
}

.box_mini1{
    font-size: 14px;
    width: 262px;
    height: 75px;
}

